<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.kr.deartoday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".application.DeartodayApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DearToday"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.timetravel.TimeTravelActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.timemachine.TimeMachineActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.messagebox.MessageBoxActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.onboarding.OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.signin.SignInActivity"
            android:exported="true" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_APP_KEY_MANIFEST}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>